@font-face {
	font-family:'Open Sans';
	src:url(../fonts/OpenSans-Regular.eot);
	font-weight:400;
}
@font-face {
	font-family:'Open Sans';
	src:url(../fonts/OpenSans-Bold.eot);
	font-weight:700;
}
@font-face {
	font-family:'Open Sans';
	src:url(../fonts/OpenSans-Semibold.eot);
	font-weight:600;
}
@font-face {
	font-family:'Open Sans';
	src:url(../fonts/OpenSans-SemiboldItalic.eot);
	font-weight:600;
	font-style:italic;
}
.map img{
	cursor:default;
}